PORT=3000
DATABASE_URL=postgresql://postgres:jLCmsbVSWRjhOCrjXVYlUoXsKpfcfNEA@thomas.proxy.rlwy.net:46331/railway
JWT_SECRET=super_secret_jwt_key_cambiar_en_produccion_123456789
JWT_REFRESH_SECRET=super_secret_refresh_key_cambiar_en_produccion_987654321
JWT_EXPIRES_IN=20m
JWT_REFRESH_EXPIRES_IN=30d
CORS_ORIGIN=*
